body {
    background-color: #000100;
    color: white;
    font-family: 'Tajawal', sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #A1A6B4;
    color: black;
    border-radius: 10px;
}
#navbar > ul {
    padding: 0;
    list-style-type: none;
}
#navbarCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navbarCenter > h1 {
    margin-bottom: 1px;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-110%); }
}
#dropdownMenu {
    background-color: #A1A6B4;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    transform: translateX(-110%);
}
#dropdownMenu.slide-in {
    animation: slide-in 0.5s forwards;
}
#dropdownMenu.slide-out {
    animation: slide-out 0.5s forwards;
}
.dropdownMenuItem {
    display: flex;
    justify-content: center;
}